<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="jumbotron centered intro-jumbotron">
  <div class="container intro-text">
    <!-- <i class="fab fa-galactic-republic fa-5x home-opac"></i> -->
    <h1 class="display-3">Virus Wars</h1>
    <p class="lead">Ich bin zu alt für den Scheiß!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
