<%- include('partials/header') %>
<%- include('partials/navbar', {logout: false}) %>

<div class="container mt-5">
  <h1>Register</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body intro-background">

          <h2 class="intro-text intro-background">Die Registrierung ist abgeschlossen. Wer jetzt nicht dabei ist...</h2>
          <p><a class="intro-text" href="/">Zurück zur Startseite</a></p>

        </div>
      </div>
    </div>

  </div>
</div>

<%- include('partials/header') %>
